<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' — ' : '' %>Anima</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="https://animaapp.s3.amazonaws.com/home/favicon.png" />
        <meta name="description" content="<%- theme.site_description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>Anima">
        <meta property="og:description" content="<%- theme.site_description %>">
        <meta property="og:image" content="https://animaapp.s3.amazonaws.com/home/Social_cover.png">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="<%- page.title %>">
        <meta name="twitter:description" content="<%- theme.site_description %>">
        <meta name="twitter:image" content="https://animaapp.s3.amazonaws.com/home/Social_cover.png">

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Dosis:500&text=Vue.js' rel='stylesheet' type='text/css'>

        <!-- main page styles -->
        <%- css(isIndex ? 'css/index' : 'css/page') %>

        <!-- this needs to be loaded before guide's inline scripts -->
        <script src="/docs/js/vue.js"></script>
        <script>window.PAGE_TYPE = "<%- page.type %>"</script>

        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("b41fb20c39155097cde1725a43229b9d");</script><!-- end Mixpanel -->

        </script>
    </head>
    <body class="<%- isIndex ? '' : 'docs' -%>">
        <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <%- partial('partials/header') %>
        <% if (!isIndex) { %>
            <div id="main" class="fix-sidebar">
                <% if (page.blog_index) { %>
                    <%- partial('partials/blog') %>
                <% } else { %>
                    <%- body %>
                <% } %>
            </div>
            <script src="/docs/js/smooth-scroll.min.js"></script>
        <% } else { %>
            <%- body %>
        <% } %>

        <!-- main custom script for sidebars, version selects etc. -->
        <script src="/docs/js/css.escape.js"></script>
        <script src="/docs/js/common.js"></script>

        <!-- search -->
        <link href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" rel='stylesheet' type='text/css'>
        <%- css('css/search') %>
        <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
        <script>
        [
          '#search-query-nav',
          '#search-query-sidebar'
        ].forEach(function (selector) {
          if (!document.querySelector(selector)) return
          // search index defaults to v1
          var match = window.location.pathname.match(/^\/(v\d+)/)
          var version = match ? match[1] : 'v1'
          docsearch({
            apiKey: 'a0310ab013b58805afb3d17bc12cd527',
            indexName: 'animaapp',
            debug: true,
            inputSelector: selector,
          })
        })
        </script>

        <!-- fastclick -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body)
        }, false)
        </script>

        <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11236684;
var sc_invisible=1;
var sc_security="721a38d5";
var sc_https=1;
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web counter"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11236684/0/721a38d5/1/" alt="web
counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
    </body>
</html>
