<% if (page.type) { %>
    <%- partial('partials/sidebar', { platform: page.platform, type: page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'auto-layout' ? page.path.replace(/.+\//, '').replace('.html', '') + '-auto-layout' : '' %>">
    <% if (page.title.trim()) { %>
      <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <% } %>
    <%- page.content %>
    <% if (page.type === 'auto-layout' || page.type == 'launchpad' || page.type == 'timeline') { %>
      <div class="guide-links">
        <% site.pages.find({ platform: page.platform, type: page.type, order: page.order - 1 }).each(function (page) { %>
          <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({ platform: page.platform, type: page.type, order: page.order + 1 }).each(function (page) { %>
          <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
      </div>
    <% } %>
    <div class="footer">
      Caught a mistake or want to contribute to the documentation?
      <a href="https://github.com/AnimaApp/docs/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
        Edit this page on Github!
      </a>
    </div>
</div>
