<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="/v3/layout/" class="nav-link<%- page.path.match(/layout/) ? ' current' : '' %>">Layout</a></li>
<li><a href="/v3/prototype/" class="nav-link<%- page.path.match(/prototype/) ? ' current' : '' %>">Prototype</a></li>
<li><a href="/v3/export/" class="nav-link<%- page.path.match(/export/) ? ' current' : '' %>">Export</a></li>
<!--<li><a href="/v1/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>-->
