<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list" style="margin-top:15px;">
        <ul class="menu-root">

            <% site.categories.sort('name', 'asc').each(function(category) { %>
                <h3><%- category.name %></h3>
                <% category.posts.sort('order').forEach(function(p) { %>
                    <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                <% }); %>
            <% }); %>
        </ul>
    </div>
    <div style="font-size: 12px; margin-top: 10px;">
        <p>Built with ❤️ &nbsp in NYC & TLV</p>
    </div>
</div>

