<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>

    <% if (path.indexOf('timeline') !== -1) { %>
    <h3 style="display: inline;">Version</h3> 
    <select class="version-select">

      <option value="v2" <% if (path.startsWith('v2')) { %>selected<% } %>>2.0</option>
      <option value="v1" <% if (path.startsWith('v1')) { %>selected<% } %>>1.0</option>
    </select>
    <% } %>
    <div class="list" style="margin-top:15px;">
        <ul class="menu-root">
            <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <% if (p.path.startsWith(path.substring(0, 2))) { %>
                <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
                <% if (type === 'auto-layout') { %>
                    <% if (fileName === '02-installation') { %>
                      <li><h3>Essentials</h3></li>
                    <% } %>
                    <% if (fileName === '06-orientation') { %>
                      <li><h3>Advanced</h3></li>
                    <% } %>
                    <% if (fileName === '13-examples') { %>
                      <li><h3>Examples</h3></li>
                    <% } %>
                <% } %>
                <li>
                    <a href="/docs/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
                <% } %>
            <% }) %>
        </ul>
    </div>
    <div style="font-size: 12px; margin-top: 10px;">
        <p>Built with ❤️ &nbsp in NYC & TLV</p>
    </div>
</div>

