<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
        <!--<h2>
            <%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %>
        </h2>-->
        <ul class="menu-root">
            <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
                <% if (type === 'auto-layout') { %>
                    <% if (fileName === '02-installation') { %>
                      <li><h3>Essentials</h3></li>
                    <% } %>
                    <% if (fileName === '06-orientation') { %>
                      <li><h3>Advanced</h3></li>
                    <% } %>
                    <% if (fileName === '13-examples') { %>
                      <li><h3>Examples</h3></li>
                    <% } %>
                <% } %>
                <li>
                    <a href="/docs/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
    <div style="font-size: 12px; margin-top: 10px;">
        <p>Built with ❤️ &nbsp in NYC & TLV</p>
        <p>Site powered by <a style="color: #4222f1;" href="https://hexo.io">Hexo.io</a> & <a style="color: #4222f1;" href="https://vuejs.org">Vue.js</a></p>
    </div>
</div>
<script async defer src="https://animaapp.s3.amazonaws.com/launchpad-static/lp4.js"></script>
